<section class="jumbotron">
    <div class="container">
       <!-- <h2 class="titel" *ngIf="this.user">Welcome {{this.user?.firstName}}</h2>-->
        <p><strong>To do today:</strong></p>
        <div class="row">
            <button class="order accordion" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">OrderID/Naam</button>
            <div class="panel collapse" id="multiCollapseExample1">
                <div class="fas fa-cart-arrow-down icon"></div><div class="fas fa-truck icon"></div> <div class="fas ffas fa-flag-checkered icon"></div>
                <p class="tekst">FROM:</p>
                <p class="tekst">TO:</p>
                <p class="tekst">ETA:</p>
                <p class="tekst">Goods: </p>
                <button class="linkcmr" (click)="open(content)">More info</button>
            </div>
        </div>
        <div class="row">
            <button class="order accordion" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">OrderID/Naam</button>
            <div class="panel collapse" id="multiCollapseExample2">
                <div class="fas fa-cart-arrow-down icon"></div><div class="fas fa-truck icon"></div> <div class="fas ffas fa-flag-checkered icon"></div>
                <p class="tekst">FROM:</p>
                <p class="tekst">TO:</p>
                <p class="tekst">ETA:</p>
                <p class="tekst">Goods: </p>
                <button class="linkcmr" (click)="open(content)">More info</button>
            </div>
        </div>
        <div class="row">
            <button class="order accordion" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">OrderID/Naam</button>
            <div class="panel collapse" id="multiCollapseExample3">
                <div class="fas fa-cart-arrow-down icon"></div><div class="fas fa-truck icon"></div> <div class="fas ffas fa-flag-checkered icon"></div>
                <p class="tekst">FROM:</p>
                <p class="tekst">TO:</p>
                <p class="tekst">ETA:</p>
                <p class="tekst">Goods: </p>
                <button class="linkcmr" (click)="open(content)">More info</button>
            </div>
        </div>
        

        
    </div>
    
    <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
</section>