<div [ngClass]="this.isDone ? 'row taskDone': 'row'">
    <div class="card col-1">
        <div class="card-block">
            {{task.priority}}
        </div>
    </div>
    <div class="card col-4">
        <div class="card-block">
            {{task.title}}
        </div>
    </div>
    <div class="card col-2">
        <div>
            {{task.estimatedTime}} min
        </div>
    </div>
    <div class="card col-3">
        <div class="card-block">
            {{this.datum}}
        </div>
    </div>
    <div class="card col-2">
        <div class="card-block">
            <a *ngIf="this.task.status == 'Todo'" href="#" type="button" class="btn  btn-sm btn-success"
               data-toggle="tooltip" title="Taak is klaar"
               (click)="onClickDone($event)">
                <i class="fas fa-check"></i>
            </a>
            <a href="#" type="button" class="btn btn-sm btn-warning"
               data-toggle="tooltip" title="Taak aanpassen">
                <i class="far fa-edit"></i>
            </a>
            <a href="#" type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal"
               title="Taak definitief verwijderen (uit alle lijsten)"
              >
               <i class="far fa-trash-alt"></i>
            </a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bent u zeker dat u deze taak wilt verwijderen?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deze zal niet meer te zien zijn in je "done" lijstje maar zal helemaal verwijderd worden.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                <button type="button" class="btn btn-danger"  data-dismiss="modal" (click)="onClickDelete($event)">Verwijderen</button>
            </div>
        </div>
    </div>
</div>