<section class="jumbotron">
    <div class="container">
        <h1 class="jumbotron-heading"><strong>Selcteer uw order</strong></h1> </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 rand">
                <div class="row">
                    <div class="col-md-1">
                        <p>1</p>
                    </div>
                    <div class="col-md-11">
                        <p>afzender (naam, adres, land) | sender (name, adress, country)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <p>AfzenderNaam
                            <br> AfzenderStraat
                            <br> AfzenderStad AfzenderPostcode, AfzenderLand</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 rand">
                <div class="row">
                    <div class="col-md-1">
                        <p>25</p>
                    </div>
                    <div class="col-md-11">
                        <p>Vervoerderscode | Carriercode</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <p>Kappa 123</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 rand">
                <div class="row">
                    <div class="col-md-1">
                        <p>2</p>
                    </div>
                    <div class="col-md-11">
                        <p>ontvanger (naam, adres, land) | receiver (name, adress, country)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p></p>
                    </div>
                    <div class="col-md-10">
                        <p>OntvangerNaam
                            <br> OntvangerStraat
                            <br> OntvangerStad OntvangerPostcode, OntvangerLand</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 rand">
                <div class="row">
                    <div class="col-md-1">
                        <p>16</p>
                    </div>
                    <div class="col-md-11">
                        <p>ontvanger (naam, adres, land) | carrier (name, adress, country)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <p>VervoederNaam
                            <br> VervoederStraat
                            <br> VervoederStad VervoederPostcode, VervoederLand</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 rand">
                <div class="row">
                    <div class="col-md-1">
                        <p>3</p>
                    </div>
                    <div class="col-md-11">
                        <p>Plaats van levering (plaats, land) | place of delivery (place, country)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p></p>
                    </div>
                    <div class="col-md-10">
                        <p>PlaatsBestemdOntvangstStad, PlaatsBestemdOntvangstLand </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 rand">
                <div class="row">
                    <div class="col-md-1">
                        <p>17</p>
                    </div>
                    <div class="col-md-11">
                        <p>opvolgende vervoeder (naam, adres, land) | successive carriers (name, adress, country)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <p>OpvolgendeVervoederNaam
                            <br> OpvolgendeVervoederStraat
                            <br> OpvolgendeVervoederStad OpvolgendeVervoederPostcode, OpvolgendeVervoederLand</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 rand">
                <div class="row">
                    <div class="col-md-1">
                        <p>4</p>
                    </div>
                    <div class="col-md-11">
                        <p>Plaats en datum van in ontvangstname (plaats, land, datum) | place and date of delivery (place, country, date)</p>
                    </div>
                </div>
                <div class="row onder">
                    <div class="col-md-2">
                        <p></p>
                    </div>
                    <div class="col-md-10">
                        <p>PlaatsOntvangstStad, PlaatsOntvangstLand
                            <br> PlaatsOntvangstDatum </p>
                    </div>
                </div>
                <div class="row boven">
                    <div class="col-md-1">
                        <p>5</p>
                    </div>
                    <div class="col-md-11">
                        <p>Aantal bijgevoegde documenten | Number of attached files</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p></p>
                    </div>
                    <div class="col-md-10">
                        <p>AantalBijgevoegdeDocumenten </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 rand">
                <div class="row">
                    <div class="col-md-1">
                        <p>18</p>
                    </div>
                    <div class="col-md-11">
                        <p>Opmerkingen voor vervoerder | carrier's instructions</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <p>OpmerkingenVervoerder</p>
                    </div>
                </div>
            </div>
        </div>
        
            <div class="row links rechts boven">
                <div class="col-md-3">
                    <p> 6 Merken en nummers | Brands and numbers</p>
                </div>
                <div class="col-md-3">
                    <p> 7 Aantal colli | Number of packages </p>
                </div>
                <div class="col-md-3">
                    <p> 8 Wijze van verpakking | Method of packaging </p>
                </div>
                <div class="col-md-3">
                    <p> 9 Aard van goederen | Nature of the goods </p>
                </div>
            </div>
            <div class="row links rechts">
                <div class="col-md-3">
                    <p> 10 Statisch nummer | Static number</p>
                </div>
                <div class="col-md-3">
                    <p> 11 Bruto gewicht (kg) | Gross weight (kg) </p>
                </div>
                <div class="col-md-3">
                    <p> 12 Volume (m³) | Volume (m³) </p>
                </div>
                <div class="col-md-3">
                    
                </div>
            </div>
            <div class="row links rechts">
                <div class="col-md-12">
                <p>TypePallet</p>
                </div>
            </div>
            <div class="row links rechts onder">
                <div class="col-md-2">
                    <p> MerkenNummers </p>
                </div>
                <div class="col-md-2">
                    <p> AantalVerpakking + "x " + WijzeVerpakking </p>
                </div>
                <div class="col-md-4">
                    <p> AardDerGoederen </p>
                </div>
                <div class="col-md-2">
                    <p> StatistischNummer </p>
                </div>
                <div class="col-md-2">
                    <p> BrutoGewicht | Volume </p>
                </div>
            </div>
   
        <div class="row">
            <div class="col-md-6 rand">
                <div class="row">
                    <div class="col-md-1">
                        <p>13</p>
                    </div>
                    <div class="col-md-11">
                        <p>Instructies ontvanger | Instructions receiver</p>
                    </div>
                </div>
                <div class="row onder">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <p>InstructiesAfzender
                        </p>
                    </div>
                </div>
                <div class="row boven">
                    <div class="col-md-1">
                        <p>14</p>
                    </div>
                    <div class="col-md-11">
                        <p>Frankeringsvoorschrift | Prepayment instructions</p>
                    </div>
                </div>
                <div class="row onder">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <p>Frankeringsvoorschrift
                        </p>
                    </div>
                </div>
                <div class="row boven">
                    <div class="col-md-1">
                        <p>21</p>
                    </div>
                    <div class="col-md-11">
                        <p>Opgemaakt te | Established in</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <p>OpgemaaktPlaats, OpgemaaktDatum
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 rand">
                <div class="row">
                    <div class="col-md-1">
                        <p>19</p>
                    </div>
                    <div class="col-md-11">
                        <p>Speciale overeenkomst | Special agreements</p>
                    </div>
                </div>
                <div class="row onder">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <p>SpecialeOvereenkomst
                        </p>
                    </div>
                </div>
                <div class="row boven">
                    <div class="col-md-3 rechts onder">
                        <p>20</p>
                    </div>
                    <div class="col-md-3 rechts onder links">
                        <p>Aankomsttijd | Arrival time</p>
                    </div>
                    <div class="col-md-3 rechts onder links">
                        <p>Vertrektijd | Departure time</p>
                    </div>
                    <div class="col-md-3 onder links">
                        <p>Totaaltijd | Total time</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 boven rechts onder">
                        <p>laadadres | Sender's address</p>
                    </div>
                    <div class="col-md-3 rand">
                        <p>witruimte</p>
                    </div>
                    <div class="col-md-3 rand">
                        <p>witruimte</p>
                    </div>
                    <div class="col-md-3 links boven onder">
                        <p>witruimte</p>
                    </div>
                </div>
                <div class="row onder">
                    <div class="col-md-3 boven rechts">
                        <p>losadres | Delivery's address</p>
                    </div>
                    <div class="col-md-3 boven links rechts">
                        <p>witruimte</p>
                    </div>
                    <div class="col-md-3 boven links rechts">
                        <p>witruimte</p>
                    </div>
                    <div class="col-md-3 boven links">
                        <p>witruimte</p>
                    </div>
                </div>
                <div class="row boven">
                    <div class="col-md-1">
                        <p>15</p>
                    </div>
                    <div class="col-md-11">
                        <p>Terugbetaling | Repayment</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rand">
            <div class="col-md-4 rechts">
                <div class="row">
                    <div class="col-md-1">
                        <p>22</p>
                    </div>
                    <div class="col-md-11">
                        <p>Handtekeing afzender | Signature sender</p>
                    </div>
                </div>
                <div class="row">
                    <p>witruimte</p>
                </div>
            </div>
            <div class="col-md-4 links rechts">
                <div class="row">
                    <div class="col-md-1">
                        <p>23</p>
                    </div>
                    <div class="col-md-11">
                        <p>Handtekeing ontvanger | Signature receiver</p>
                    </div>
                </div>
                <div class="row">
                    <p>witruimte</p>
                </div>
            </div>
            <div class="col-md-4 links">
                <div class="row">
                    <div class="col-md-1">
                        <p>24</p>
                    </div>
                    <div class="col-md-11">
                        <p>Goederen ontvangen (plaats, datum) | Goods received (place, date)</p>
                    </div>
                </div>
                <div class="row">
                    <p>witruimte</p>
                </div>
            </div>
        </div>
    </div>
</section>