<h2>Timer</h2>
<div class="card">
    <div class="card-block text-center">
        <h1 class="text-center">{{hours}}:{{minutes}}:{{seconds}}</h1>
        <p>
            <button type="button" class="btn theme-dark text-center" (click)="onClickStart()">
                <i class="fas fa-play"></i>
                (her)starten
            </button>
        </p>
        <p>
            <button type="button" class="btn theme-dark" (click)="onClickPause()">
                <i class="fas fa-pause"></i>
                Pauzeren
            </button>
        </p>
        <p>
            <button type="button" class="btn theme-dark" (click)="onClickReset()">
                <i class="fas fa-undo"></i>
                Reset timer
            </button>
        </p>
        <p>
            <button type="button" class="btn btn-success" (click)="onClickDone()">
                <i class="fas fa-check"></i>
                Klaar!
            </button>
        </p>
        <div class="card-footer">
            <a href="#" class="card-link" (click)="onClickCancel($event)">
                <i class="fas fa-ban"></i>
                Annuleren
            </a>
        </div>


    </div>
</div>
