<section class="jumbotron">
  <div class="container">
    <h1 class="jumbotron-heading"><strong>Track-IT</strong></h1>
    <p class="lead">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
  </div>

  <div class="album py-5 bg">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://arnehendrickx.sinners.be/images/order.jpg" alt="Order">
            <div class="card-body">
              <h4 class="card-title">Order</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="text-center">
                  <a href="#" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://arnehendrickx.sinners.be/images/trucker.jpg" alt="Trucker">
            <div class="card-body">
              <h4 class="card-title">Freight</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="text-center">
                <a href="#" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://arnehendrickx.sinners.be/images/track.jpg" alt="Track">
            <div class="card-body">
              <h4 class="card-title">Tracking</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="text-center">
                <a href="#" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>