<section class="jumbotron">
  <div class="container">
    <h1 class="jumbotron-heading"><strong>Track-IT</strong></h1>
    <p class="lead">Welkom!</p>
  </div>

  <div class="album py-5 bg">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://arnehendrickx.sinners.be/images/order.jpg" alt="Order">
            <div class="card-body">
              <h4 class="card-title">Order</h4>
              <p class="card-text">Hier vindt u het overzicht van uw orders</p>
              <div class="text-center">
                  <a href="#" class="btn-lg btn-primary">View</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://arnehendrickx.sinners.be/images/trucker.jpg" alt="Trucker">
            <div class="card-body">
              <h4 class="card-title">Freight</h4>
              <p class="card-text">Hier ziet u welke producten in welke vrachtwagen zitten.</p>
              <div class="text-center">
                <a href="#" class="btn-lg btn-primary">View</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://arnehendrickx.sinners.be/images/track.jpg" alt="Track">
            <div class="card-body">
              <h4 class="card-title">Tracking</h4>
              <p class="card-text">Hier kan u zien waar uw goederen zich bevinden op dit moment.</p>
              <div class="text-center">
                <a href="#" class="btn-lg btn-primary">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

