<nav class="navbar box-shadow navbar-expand-md">
  <a class="navbar-brand" [routerLink]="['/']"><i class="fas fa-home"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <i class="fas fa-bars navbar-toggler-icon"></i><!--<span class="navbar-toggler-icon"></span>-->
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navbar-left">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link"[routerLink]="['/tasks']">Order</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/thoughts']">Freight</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/good-events']">Tracking</a>
      </li>


    </ul>
    <ul class="navbar-nav navbar-right">
      <!--Als ingelogd-->
      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']">
        <a class="nav-link"   [routerLink]="['/profiel']"><i class="fas fa-user"></i> Profiel</a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <a class="nav-link" href="#" (click)="onLogoutClick()"><i class="fas fa-sign-out-alt"></i> Uitloggen</a>
      </li>

      <!--Als uitgelogd-->
      <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']">
        <a class="nav-link"  [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Inloggen</a>
      </li>
      <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/register']"><i class="fas fas fa-user-plus"></i> Registreren</a>
      </li>
    </ul>

  </div>
</nav>