<section class="jumbotron">
  <div class="container">
    <h1 class="jumbotron-heading"><strong>Inloggen</strong></h1>
  </div>
  <div class="container">
    <form (submit)="onLoginSubmit()">
      <div class="row">
        <div class="col-md-2 field-label-responsive">
          <label for="email">E-mailadres:</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-at"></i></div>
              <input type="text" [(ngModel)]="email" name="email" class="form-control" id="email"
                     placeholder="voorbeeld@voorbeeld.com">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 field-label-responsive">
          <label for="password">Paswoord:</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
              <input type="password" [(ngModel)]="password" name="password"  class="form-control" id="password"
                     placeholder="Paswoord">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <input type="submit" class="btn btn-primary" value="Inloggen">
        </div>
        <flash-messages></flash-messages>
      </div>
    </form>
  </div>
</section>
