h1{
    color: #4C9976;
}

.btn-primary{
     background-color: #4C9976;
     border-color: #ffffff;
 }

.btn-primary:hover{
    background-color: #87AA9A;
    border-color: #87AA9A;
}

a{
    color: #FF644C;
}

a:hover, .link:hover{
    color: #CC503D;
}

.link{
    color: #FF644C!important;
}

.link:hover{
    color: #CC503D!important;
    text-decoration: underline;
}