h1{
    color: #4C9976;
}

.btn-primary{
     background-color: #4C9976;
     border-color: #ffffff;
 }

.btn-primary:hover{
    background-color: #3a755a;
    border-color: #3a755a;
}

a:hover{
    text-decoration: underline!important;
}