<section class="jumbotron">
  <div class="container">
    <h1 class="jumbotron-heading"><strong>Register</strong></h1>
    <p class="lead">Welcome, register here and enjoy all advantages of Track-IT! We won't use your data for commecial use.</p>
  </div>

  <div class="container">
    <form (submit)="onRegisterSubmit()">

      <div class="row">
        <div class="col-md-2 field-label-responsive">
          <label for="firstName">Firstname:</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-user"></i></div>
              <input type="text" class="form-control" id="firstName" [(ngModel)]="firstName" name="firstName"
                     placeholder="Firstname" autofocus>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 field-label-responsive">
          <label for="lastName">Lastname:</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-user"></i></div>
              <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control" id="lastName"
                     placeholder="Lastname">
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2 field-label-responsive">
          <label for="email">E-mail:</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-at"></i></div>
              <input type="text" [(ngModel)]="email" name="email" class="form-control" id="email"
                     placeholder="example@mail.com">
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2 field-label-responsive">
          <label for="password">Password:</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
              <input type="password" [(ngModel)]="password" name="password"  class="form-control" id="password"
                     placeholder="Password">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <input type="submit" class="btn btn-primary" value="Register">
        </div>
      </div>
      <flash-messages></flash-messages>
    </form>
  </div>
</section>

