<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2>Registreren</h2>
    <p>Welkom, registreer je hieronder en geniet van alle voordelen! We beloven dat we niets met je gegevens gaan doen zonder jou toestemming.</p>
    <hr>
  </div>
</div>

<form (submit)="onRegisterSubmit()">

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="firstName">Voornaam</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-user"></i></div>
          <input type="text" class="form-control" id="firstName" [(ngModel)]="firstName" name="firstName"
                 placeholder="Voornaam" autofocus>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="lastName">Familienaam</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-user"></i></div>
          <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control" id="lastName"
                 placeholder="Familienaam">
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="email">E-mailadres</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-at"></i></div>
          <input type="text" [(ngModel)]="email" name="email" class="form-control" id="email"
                 placeholder="voorbeeld@voorbeeld.com">
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="password">Paswoord</label>
    </div>
    <div class="col-md-6">
      <div class="form-group has-danger">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
          <input type="password" [(ngModel)]="password" name="password"  class="form-control" id="password"
                 placeholder="Paswoord">
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <input type="submit" class="btn btn-success" value="Registreren">
    </div>
  </div>
</form>
