<div class="row">
    <div class="float-left col-sm-6">
    <h2>Taken</h2>
    </div>

    <div class="col-sm-6 text-right">
        <button type="button" class="btn theme" (click)="onClickTodo">
            To do
        </button>
        <button type="button" class="btn theme" (click)="onClickDone">
            Done
        </button>
    </div>
</div>

<div class="row">
    <div class="card col-1  theme-neutral">
        <div class="card-block">
            <i class="fas fa-star" data-toggle="tooltip" data-placement="top" title="Geef je taak prioriteit!"></i>
        </div>
    </div>
    <div class="card col-4 theme-neutral">
        <div class="card-block">
            Taak
        </div>
    </div>
    <div class="card col-2 theme-neutral">
        <div class="card-block">
            Verwachte tijd
        </div>
    </div>
    <div class="card col-3 theme-neutral">
        <div class="card-block">
            Datum
        </div>
    </div>
    <div class="card col-2 theme-neutral">
        <div class="card-block">
            Aanpassen
        </div>
    </div>
</div>

<app-task [task]="task" *ngFor="let task of tasks"></app-task>

<button type="button" class="btn btn-success">Taak toevoegen</button>


