<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="float-right"><a href="#">Home</a> | <a href="#top">Back to top</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>Track-IT is een deel van project 4.0 Thomas More - In opdracht van <a href="https://www.agilians.com/">Agilians</a></p>
        <p class="text-muted">Arne Hendrickx | Dylan Van Kerckhoven | Gregory Vermeiren | Marijke Meersman | Ruben Dierckx </p>
      </div>
    </div>

  </div>
</footer>