<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="float-right"><a [routerLink]="['/']">Home</a> | <a class="link" onclick="topFunction()">Back to top</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>Track-IT is a part of project 4.0 &copy;Thomas More - In order of <a href="https://www.agilians.com/">Agilians</a></p>
        <p class="text-muted">Group D3: Arne Hendrickx | Dylan Van Kerckhoven | Gregory Vermeiren | Laurens Bakelants | Marijke Meersman | Ruben Dierckx</p>
      </div>
    </div>
  </div>
</footer>